# used to compile requirements.txt with pip-compile requirements.in
# required for sphinx
sphinx
sphinx-rtd-theme
sphinx-autoapi
myst-nb
jupytext
# required for simcats
numpy
matplotlib
colorednoise
scipy
bezier
sympy
opencv-python
diplib